/*enfocado para dispositivos como celus y tablets*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 1.5;
    background-color: #bbc5f5;
}
main {
    flex: 1;
}

/*centrar el contenedor y limitar el ancho en pantallas más grandes*/
main,
div {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 0;
}

h2 {
    font-size: 1.25rem;
    margin-top: 1rem;
}

h3 {
    font-size: 1.1rem;
    margin-top: 0.75rem;
}

p,
li {
    font-size: 1rem;
    margin-bottom: 0.75rem;
}

ul {
    padding-left: 1.25rem;
    margin-top: 0.5rem;
}

/*estilo de los enlaces*/
a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/*estilo para pantallas más grandes*/
@media (min-width: 768px) {
    body {
        padding: 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }
}


.tema {
  margin-bottom: 16px;
  border-radius: 14px;
  overflow: hidden;
  border: 1px solid #2d2d2d;
}

/* botón */
.tema-btn {
  width: 100%;
  padding: 18px;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: left;
  background: none;
  border: none;
  color: #111;
  cursor: pointer;
}

/* contenido cerrado */
.tema-contenido {
  max-height: 0;
  overflow: hidden;
  padding: 0 16px;
  transition: max-height 0.3s ease, padding 0.2s ease;
}

/* contenido abierto */
.tema.activo .tema-contenido {
  max-height: 65vh;     /* ocupa siempre el mismo espacio */
  overflow-y: auto;    /* scroll interno */
  padding: 16px;
  border-top: 1px solid #2d2d2d;
}

footer {
    text-align: center;
    padding: 15px;
}

/*estilos del nav*/
.nav-principal {
    width: 100%;
    display: block; 
    list-style-type: none;
}
.nav-links{
    justify-content: center;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header{
    background-color: #0b0e11;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.contenedor-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 70vh;
    max-width: none !important;
    margin: 0;
}

.imgHome{
    max-width: 80%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgb(0, 0, 0.2);
    animation: fadeIn 1.5s ease;
}
@keyframes fadeIn{
    from{opacity:0; transform: translateY(20px);}
    to{opacity: 1; transform: translateY(0);}
}